[Unit]
Description=Sonik Sync Daemon
After=default.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/sonikd
Restart=on-failure

[Install]
WantedBy=default.target
